@charset "utf-8";

body {
	margin: 60px auto;
	width: 70%;
	text-align: center;
	background: url("../graphics/cloth_alike.png") repeat scroll 0% 0% transparent;
}
.text{
	padding:20px;
	text-align: center;
}
.copyright {
	text-align: right;
}

.top_menus {
	float: center;
	clear: both;
	font-size: 1.4em;
	line-height: 1.5em;
	color: #456;
	margin: 0 0 15px 0;
}
.slide{
	display:inline-block;
	width:80%;
}
/*bottom links*/

.photo_pages{
	width: 70%;
	display: inline-block;
}
.logo{
	max-width: 70%;
}

.instagram{
	max-width:
}