body {
    margin: 60px auto;
    width: 80%;
	background: url("../graphics/cloth_alike.png") repeat scroll 0% 0% transparent;
}
.top_menus {
	text-align:center;
	float: top;
	clear: both;
	font-size: 1.4em;
	line-height: 1.5em;
	color: #456;
	margin: 0 0 15px 0;
}
h1{
	text-align:center;
	font: bold 3em calibri 500;

}
h2{
	text-align:center;
}
h3{
	text-align:center;
}
.header {
    background: #ddd;
}

.nav {
    text-align:center;
}
/*summary and profile picture*/
.topWrap{
	margin: 0 auto;
}
.summary{
	float:left;
	width:65%;
}
.profilePicture{
	padding-top:25px;
	float:right;
	width:32%;
	height:100%;
}
.pic{
	max-width:100%;
	max-height:100%;
}

/*profile and sidebar wrap*/
.wrap {
    margin: 0 auto;   
}
/*main profile column*/
.main {
	float: left;
    width: 65%;
}
.exp {
	border: groove 1px;
	text-justify: distribute;
	padding:2px; 
	background:#ddd;
	-moz-border-radius-bottomright: 25px 50px;
	border-bottom-right-radius: 25px 50px;
}
.education{
	border: groove 1px;
	text-justify: distribute;
	padding:2px; 
	background:#ddd;
	-moz-border-radius-bottomright: 25px 50px;
	border-bottom-right-radius: 25px 50px;
}
table {
	margin: 20px auto;
	width: 70%;
	}
th{
	border-bottom:solid 0.1em;
	margin: 60px auto;
	width: 70%;
}

td {
	border-collapse:collapse;
	border-bottom:solid 0.1em #9B9B9B;
	margin: 60px auto;
	width: 70%;
}
/*Sidebar*/
.column { 
	background:#f5ffff;
	float: right;
    width: 32%;
	padding: 5px 5px;
}

.footer {
	position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4em;
   	background:#999;
}
.copyright{
	visibility:hidden;
	position:fixed;
	text-align:right;
}

/*Social media buttons*/
.socialMedia {
	position: relative;
	margin: auto;
}
.social-slide {
	display: inline-block;
	height: 48px;
	width: 48px;
	margin: 10px;
	float: right;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
.twitter-hover {
	background-image: url("../graphics/social_media/twitter-hover.png");
}
.github-hover {
	background-image: url('../graphics/social_media/github-hover.png');
}
.facebook-hover {
	background-image: url('../graphics/social_media/facebook-hover.png');
}
.linkedin-hover {
	background-image: url('../graphics/social_media/linkedin-hover.png');
}
.instagram-hover {
	background-image: url('../graphics/social_media/instagram-hover.png');
}
.flickr-hover {
	background-image: url('../graphics/social_media/flickr-hover.png');
}
/*end of social media buttons
