body {
    margin: 60px auto;
    width: 70%;
}
.top_menus {
	text-align:center;
	float: top;
	clear: both;
	font-size: 1.4em;
	line-height: 1.5em;
	color: #456;
	margin: 0 0 15px 0;
}
h1{
	text-align:center;
	font: bold 3em calibri 500;

}
h2{
	text-align:center;
}
h3{
	text-align:center;
}
.wrap {
    margin: 0 auto;
    background: #ddd;
}
.exp {
	border: groove 1px;
	text-justify: distribute;
	padding:2px; 
	background:#ddd;
	-moz-border-radius-bottomright: 25px 50px;
	border-bottom-right-radius: 25px 50px;
}
.header {
    background: #ddd;
}

.nav {
    text-align:center;
}

.main {

	float: left;
    width: 65%;
	padding:5px;
}

.column {
	background:#f5ffff;
	float: right;
    width: 32%;
	padding: 70px 5px;
}

.footer {
	clear:both;
    background: #cc9;
	height:5em;
	width:100%;
}
table {
	margin: 20px auto;
	width: 70%;
	}
th{
	border-bottom:solid 0.1em;
	margin: 60px auto;
	width: 70%;
}

td {
	border-collapse:collapse;
	border-bottom:solid 0.1em #9B9B9B;
	margin: 60px auto;
	width: 70%;
}
.copyright{
	text-align:right;
}
